@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredoka+One&family=Itim&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/img1.jpg");
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image_link a{
    background-color: #f1e7dd49;
    border: 2px solid #f1e7dd ;
    color: #8d675e;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}
.intro-image_link a:hover {
    transform: scale(1.2);
}
.intro-text {
    background-color: #8d675eb0;
    color: #505869;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding:  15rem;

}
.intro-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.quality-image {
    background-attachment: fixed;
    background-image: url("../img/img2.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image_link a {
    background-color: #f1e7dd49;
    border: 2px solid #f1e7dd ;
    color: #2e323a;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.quality-image_link a:hover {
    transform: scale(1.2);
}
.quality-text {
    background-color: #3f382c;
    color: #e9edf6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
.quality-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url("../img/img3.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.origin-image_link a{
    background-color: #684f3549;
    border: 2px solid #f1e7dd ;
    color: #384632;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-text {
    background-color: #b75b23;
    color: #e9edf6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-image_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}
.footer{
    height: 250px;
    color: #432f33;
    background-color: #857c7e9e;
    padding-top: 2rem;
    font-size: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li {
    color: #3a282a;
    text-decoration: none;
    
}
.footer ul li:hover{

    transform: scale(1.5);
    color: #432f33;
}